{% assign aw = site.data.i18n[page.lang].awards %}
<section id="awards" class="alt">
  <h2>{{ aw.heading }}</h2>
  <div id="awards-carousel" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        {% for prize in aw.items %}
          <li class="splide__slide">
            <img src="{{ site.baseurl }}/img/{{ prize.img }}" alt="{{ prize.title }}">
            <h4>{{ prize.title }}</h4>
            <p>{{ prize.txt }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
