<section id="awards" class="alt">
  <h2>Premios y Reconocimientos</h2>
  <div id="awards-carousel" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide"><img src="img/engihacklogo.jpg" alt="Engihack 2023"><h4>Engihack 2023</h4><p>Ganadores Engihack Catalunya.</p></li>
        <li class="splide__slide"><img src="img/premioideasinnovadoras.png" alt="Ideas Innovadoras 2024"><h4>Premis Idees Innovadoras 2024</h4><p>Finalistas top 10 entre 300 proyectos.</p></li>
        <li class="splide__slide"><img src="img/URVconsellsocial.png" alt="URV Consell Social 2024"><h4>URV Consell Social 2024</h4><p>Ganadores concurso Ideas Innovadoras.</p></li>
        <li class="splide__slide"><img src="img/startsudstudio.png" alt="Startsudstudio 2024"><h4>Startsudstudio 2024</h4><p>Primer acuerdo con incubadora.</p></li>
        <li class="splide__slide"><img src="img/premis_empren.jpg" alt="Premis Emprèn Tarragona 2024"><h4>Premis Emprèn Tarragona 2024</h4><p>Ganadores Entrenamiento Emprendedor.</p></li>
        <li class="splide__slide"><img src="img/premisgresol.jpg" alt="Premis Gresol Jove 2025"><h4>Premis Gresol Jove 2025</h4><p>Ganadores Gresol Jove.</p></li>
        <li class="splide__slide"><img src="img/upc.jpg" alt="Consell Social 2025"><h4>Reconocimiento Consell Social 2025</h4><p>Reconeixement als guardonats i guardonades durant l’any 2024.</p></li>
      </ul>
    </div>
  </div>
</section>
