{% assign t = site.data.i18n[page.lang].nav %}
<nav>
  <div class="logo-placeholder">WaveWatt</div>
  <ul>
    <li><a href="#hero">{{ t.inicio }}</a></li>
    <li><a href="#about">{{ t.quienes }}</a></li>
    <li><a href="#values">{{ t.valores }}</a></li>
    <li><a href="#team">{{ t.equipo }}</a></li>
    <li><a href="#news">{{ t.noticias }}</a></li>
    <li><a href="#awards">{{ t.premios }}</a></li>
    <li><a href="#video">{{ t.video }}</a></li>
    <li><a href="#contact">{{ t.contacto }}</a></li>
  </ul>
</nav>
