{% assign n = site.data.i18n[page.lang].news %}
<section id="news">
  <h2>{{ n.heading }}</h2>
  <div class="news-cards">
    {% for item in n.items %}
      <div class="news-card">
        <a href="{{ item.link }}" target="_blank" style="text-decoration:none; color:inherit;">
          {% if item.img %}
            <img src="{{ site.baseurl }}/img/{{ item.img }}" alt="Noticia" style="width:100%; border-radius:4px; margin-bottom:.5rem;">
          {% endif %}
          <h4>{{ item.title }}</h4>
          <p class="date">{{ item.date }}</p>
          {% if item.excerpt %}
            <p>{{ item.excerpt }}</p>
          {% endif %}
        </a>
      </div>
    {% endfor %}
  </div>
</section>

