{% assign t = site.data.i18n[page.lang].team %}
<section id="team" class="alt">
  <h2>{{ t.heading }}</h2>
  <div id="team-carousel" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        {% for member in t.members %}
          <li class="splide__slide">
            <img src="{{ site.baseurl }}/img/{{ member.img }}" alt="{{ member.name }}">
            <h4>{{ member.name }}</h4>
            <p>{{ member.title }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
