<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include nav.html %}
    {% include lang-switcher.html %}
    <main>
      {% include hero.html %}
      {% include about.html %}
      {% include values.html %}
      {% include team.html %}
      {% include news.html %}
      {% include awards.html %}
      {% include video.html %}
      {% include contact.html %}
    </main>
    {% include footer.html %}
    <script src=".../splide.min.js"></script>
    <script src=".../scrollreveal.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
  </body>
</html>

