<!DOCTYPE html>
<html lang="es">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include nav.html %}
    <main>
      {% include hero.html %}
      {% include about.html %}
      {% include values.html %}
      {% include team.html %}
      {% include news.html %}
      {% include awards.html %}
      {% include video.html %}
      {% include contact.html %}
    </main>
    {% include footer.html %}
     <!-- Librerías JS externas -->
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <!-- Tu script de inicialización -->
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>
